<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>
      Inicio
    </ion-title> -->
    <ion-title size="large">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-button routerLink="/contacto">
    Ir a Contacto
  </ion-button>

  <ion-button routerLink="/nosotros">
    Ir a Nosotros
  </ion-button>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Celular:</ion-label>
    <ion-input [(ngModel)]="celular"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button color="success" (click)="guardarDatos()">
    Guardar. 
    <ion-icon name="save-outline"></ion-icon>
  </ion-button>

  <ion-list>
    <!-- <ion-label position="floating">Celular               Email   </ion-label>
 -->
  <ion-item *ngFor="let usuario of usuarios; let i = index">
      <!-- interar las veces que exixta la variable, recorre el arreglo -->
      <ion-label>{{ usuario.nombre }}</ion-label>
      <ion-label>{{ usuario.apellido }}</ion-label>
      <ion-label>{{ usuario.celular }}</ion-label>
      <ion-label>{{ usuario.email }}</ion-label>
      <ion-button color="danger"clear (click)="eliminarUsuarios(usuarios)">
        Eliminar
        <ion-icon name="trash-sharp"></ion-icon>
      </ion-button>
      <ion-button color="warning" clear (click)="editarUsuarios(usuarios)">
        Editar
        <ion-icon name="construct-sharp"></ion-icon>
      </ion-button>
    
  </ion-item>
  </ion-list>
</ion-content>
 